<!DOCTYPE html>
<html>
  <head>
    <title>FOO</title>
    <script src="js/bundle.js"></script>
  </head>
  <body>
    <h1>FOO</h1>
    <p>FOO</p>
    <script>
    	Main.start()
    </script>
  </body>
</html>
