<!DOCTYPE html>
<html>
  <head>
    <title>FOO</title>
    <script src="js/bundle.js"></script>
  </head>
  <body>
    <h1>Secret Project</h1>
    <canvas id="screen"></canvas>
    <script>
    	var myGame = new Main({viewX:600,viewY:300,viewID:"screen"})
      myGame.start()
    </script>
  </body>
</html>
